name: Deploy to ECS

on:
  push:
    branches: [main, dev]

env:
  AWS_REGION: eu-west-1
  ECR_REGISTRY: 449591255785.dkr.ecr.eu-west-1.amazonaws.com
  ECS_CLUSTER: conference-booking-cluster
permissions:
  id-token: write
  contents: read

jobs:
  deploy-services:
    name: Deploy Services
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [weather-service, location-service, booking-service, room-service]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
            node-version: '20'

      - name: Install dependencies
        run: cd ./services/${{matrix.service}}
             npm install

      - name: Run Jest tests
        run: cd ./services/${{matrix.service}}
             npm test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
      
      - name: Build and push ${{ matrix.service }}
        run: |
          cd services/${{ matrix.service }}
          docker build --platform linux/amd64 -t ${{ matrix.service }} .
          docker tag ${{ matrix.service }}:latest $ECR_REGISTRY/${{ matrix.service }}:latest
          docker push $ECR_REGISTRY/${{ matrix.service }}:latest
      
      - name: Force ECS deployment
        run: |
          aws ecs update-service \
            --cluster $ECS_CLUSTER \
            --service ${{ matrix.service }} \
            --force-new-deployment \
            --region $AWS_REGION
  
  deploy-api-gateway:
    name: Deploy API Gateway
    runs-on: ubuntu-latest
    needs: [deploy-services]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
      
      - name: Build and push API Gateway
        run: |
          cd services/api-gateway
          docker build --platform linux/amd64 -t api-gateway .
          docker tag api-gateway:latest $ECR_REGISTRY/api-gateway:latest
          docker push $ECR_REGISTRY/api-gateway:latest
      
      - name: Force ECS deployment
        run: |
          aws ecs update-service \
            --cluster $ECS_CLUSTER \
            --service api-gateway \
            --force-new-deployment \
            --region $AWS_REGION
